<nav id="mobile-nav">
  <% for (var i in theme.menu){ %>
    <a href="<%- url_for(theme.menu[i]) %>" class="mobile-nav-link"><%= i %></a>
  <% } %>
    <a class="mobile-nav-link" href="http://seffeng.github.io/html_libs/" target="_blank">html_libs</a>
    <a class="mobile-nav-link" href="http://118456.com/" target="_blank">118456.com</a>
    <a class="mobile-nav-link" href="http://1kmi.com/" target="_blank">1kmi.com</a>
    <a class="mobile-nav-link" href="http://kayil.com/" target="_blank">kayil.com</a>
    <a class="mobile-nav-link" href="http://seffeng.blog.163.com/" target="_blank">博客</a>
    <a class="mobile-nav-link" href="http://weibo.com/seffeng/" target="_blank">微博</a>
    <a class="mobile-nav-link" href="http://118456.oschina.mopaas.com/" target="_blank">工具</a>
</nav>